@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body::-webkit-scrollbar {
        display: none;
    }

    main::-webkit-scrollbar {
        display: none;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.no-scroll-line::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    background-color: #E1E1E1;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0a0a0a;
    }
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}

video::-webkit-media-controls-time-remaining-display {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}